@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-black;
  }
}

@layer components {
  .banner-btn {
    @apply bg-white py-1 px-2 rounded-sm text-base md:text-xl flex gap-x-2 items-center hover:opacity-80;
  }

  .banner-icon {
    @apply h-4 w-4 md:h-5 md:w-5;
  }

  .title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
